body 
    background-color: var(--color-bg);
    color: var(--color-texto);
    transition: background-color 0.3s, color 0.3s;
    font-family: 'Roboto', roboto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;


a 
    color: var(--color-letras)
    text-decoration: none

    &:hover 
        text-decoration: underline
        opacity: 0.8

