.l-grid-container 
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    flex-grow: 1;

    @media (min-width: 1024px) 
        grid-template-columns: 1fr 4fr;
    


.l-footer 
    background-color: var(--color-card-fondo);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
