
$color-bg-oscuro: #0A141D;
$color-texto-oscuro: #F0E6D2;
$color-acento-oscuro: #0AC8B7;
$color-card-oscuro: #111B24;

$color-bg-claro: #F9F9F9;
$color-texto-claro: #212529;
$color-acento-claro: #0078A1;
$color-card-claro: #FFFFFF;

:root 
    --color-bg: #{$color-bg-oscuro}
    --color-texto: #{$color-texto-oscuro}
    --color-acento: #{$color-acento-oscuro}
    --color-card-fondo: #{$color-card-oscuro}


.modo-claro 
    --color-bg: #{$color-bg-claro}
    --color-texto: #{$color-texto-claro}
    --color-acento: #{$color-acento-claro}
    --color-card-fondo: #{$color-card-claro}
